<main class="editMain">
  <section class="editContainer">
    <h1>New Post</h1>
    <form class="form" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <label
        >Title
        <input
          type="text"
          [ngModel]="post.title"
          name="title"
          #title="ngModel"
        />
      </label>
      <label class="article">ARTICLE</label>
      <jodit-editor
        [ngModel]="post.content"
        name="content"
        #content="ngModel"
        [config]="{
          buttons: 'bold,strikethrough,underline,italic',
          buttonsMD: 'bold,strikethrough,underline,italic',
          buttonsSM: 'bold,strikethrough,underline,italic',
          buttonsXS: 'bold,strikethrough,underline,italic'
        }"
      ></jodit-editor>
      <button type="submit">{{ editMode ? "Update" : "Publish" }}</button>
    </form>
  </section>
</main>
